opencv-python~=4.5.3.56
torch==1.7.0
matplotlib~=3.4.2
h5py~=3.3.0
torchvision~=0.2.2
tqdm~=4.61.2
torchsummary==1.5.1
numpy~=1.21.2
Pillow==8.3.1
openslide-python==1.1.2
scikit-image~=0.19.0
scikit-learn~=0.24.2